
.App-logo {
  height: 5vmin;
  animation: colorTransition 10s linear infinite;
}

@keyframes colorTransition {
  0%  { background-color: #66CCFF; } /* Light Blue */
  10%  { background-color: #00CC99; } /* Turquoise */
  20%  { background-color: #00FFCC; } /* Aqua */
  30%  { background-color: #66FF66; } /* Light Green */
  40%  { background-color: #009966; } /* Dark Green */
  50%  { background-color: #003300; } /* Forest Green */
  60%  { background-color: #009966; } /* Dark Green */
  70%  { background-color: #66FF66; } /* Light Green */
  80%  { background-color: #00FFCC; } /* Aqua */
  90%  { background-color: #00CC99; } /* Turquoise */
  100%  { background-color: #66CCFF; } /* Light Blue */
}


.App-header {
  text-align: center;
  min-height: 5vh;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body{
  padding-right: 2%;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}


@media screen and (min-width: 1480px) {
  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;
    border: 1px solid #ccc;
  }
}

.sidenav {
  
  direction: rtl;
}