
.app {
  display: inline-grid;
  overflow-x: scroll;
}

.App-logo {
  height: 5vmin;
  animation: colorTransition 10s linear infinite;
}

@keyframes colorTransition {
  0%  { background-color: #66CCFF; } /* Light Blue */
  10%  { background-color: #40a3d5; } /* Turquoise */
  20%  { background-color: #328fbd; } /* Aqua */
  30%  { background-color: #21729b; } /* Light Green */
  40%  { background-color: #165d81; } /* Dark Green */
  50%  { background-color: #063045; } /* Forest Green */
  60%  { background-color: #165d81; } /* Dark Green */
  70%  { background-color: #21729b; } /* Light Green */
  80%  { background-color: #328fbd; } /* Aqua */
  90%  { background-color: #40a3d5; } /* Turquoise */
  100%  { background-color: #66CCFF; } /* Light Blue */
}


.App-header {
  text-align: center;
  min-height: 5vh;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-right: 2%;
  direction: ltr;
}

body{
  padding-right: 2%;
  display: inline-flex;
  flex-direction: row;
  gap: 15px;
  direction: rtl;
}


@media screen and (min-width: 1480px) {
  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;
    border: 1px solid #ccc;
  }
}

.sidenav { 
  direction: rtl;
}